.not-found {
    height: 58vh;
}
.not-found h1 {
    font-size: 115px;
    font-weight: bold;
    color: var(--main-color);
}
.not-found h3 {
    font-weight: 700;
    font-size: 37px;
    line-height: 2;
    color: red;
}