.coursework .img {
    width: 100%;
    height: 140px;
    position: relative;
}
.coursework .img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.coursework .img::before {
    position: absolute;
    content: '';
    background-color: rgba(0,0,0, .7);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.coursework .img h1  {
    z-index: 2;
    font-weight: bold;
}
.coursework .form  {
    width: 70%;
    padding: 30px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: var(--body-bg);
}
.coursework .form  div {
    column-gap: 10px;
    margin-bottom: 13px;
}
.coursework .form  select ,
.coursework .form  div input {
    width: 48%;
    border: none;
}
.coursework .form  label {
    width: 48%;
    background: #eee;
    line-height: 1.5;
    color: #444;
    font-size: 17px;
    font-weight: 600;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    justify-content: flex-start;
    cursor: pointer;
}
@media (max-width: 767px) {
    .coursework .form  {
        width: 95%;
    }
    .coursework .form  div {
        row-gap: 10px;
        margin-bottom: 10px;
    }
    .coursework .form  div select ,
    .coursework .form  label ,
    .coursework .form  div input {
        width: 100%;
    }
}
.coursework .form  textarea {
    resize: none;
    margin: 13px 0;
    border: none;
}

.w-full {
    width: 97% !important;
}