.full-popup {
    background: rgba(0,0,0,.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 200;
    top: 0;
    bottom: 0;
}
.full-popup .popup {
    width: 60%;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
}
@media (max-width: 767px) {
    .full-popup .popup {
        width: 95%;
    }
}
.full-popup .popup h4 {
    line-height: 2;
    margin-bottom: 10px;
}