.offers ul {
    margin: 20px 0;
    gap: 5%;
    align-items: inherit;
    flex-wrap: nowrap;
}
.offers ul li {
    padding: 15px;
    border: 2px solid var(--sec-color);
    border-radius: 10px;
    text-align: center;
    width: 30%;
    color: var(--text-color);
    background-color: var(--body-bg);
}
.offers ul li .ben {
    color: var(--sec-color);
}