.contact {
    width: 100%;
    padding: 15px;
}

.container-contact {
    width: 900px;
    background: var(--body-bg);
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
    padding: 30px;
}
.contact-pic {
    width: 296px;
    order: 2;
}

.contact-pic img {
    max-width: 100%;
}

.contact-form {
    width: 390px;
}

input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}

input.input1 + .shadow-input1 {
    border-radius: 25px;
}

textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
    resize: none;
}
textarea.input1 + .shadow-input1 {
    border-radius: 25px;
}

.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

.input1::placeholder ,
.input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    line-height: 1.5;
    color: #666666;
    font-size: 17px;
    font-weight: 600;
}

.shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.5);
}

.input1:focus + .shadow-input1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
    }
}

.container-contact-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: var(--main-color);
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    padding: 0 25px;
    transition: all 0.4s;
}

.contact-form-btn svg {
    margin-right: 5px;
    transition: all 0.4s;
}

.contact-form-btn:hover {
    background: #333333;
}

.contact-form-btn:hover svg {
    transform: translateX(-10px);
}




/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
    .contact-pic {
    width: 33.5%;
    }

    .contact-form {
    width: 44%;
    }
}

@media (max-width: 992px) {
    .container-contact {
    padding: 90px 80px 88px 90px;
    }

    .contact-pic {
    width: 35%;
    }

    .contact-form {
    width: 55%;
    }
}

@media (max-width: 768px) {
    .container-contact {
    padding: 30px 10px;
    }

    .contact-pic {
    display: none;
    }

    .contact-form {
    width: 100%;
    }
}