footer {
    background: var(--main-color);
    padding: 30px 0 0;
	position: relative;
}
footer .links {
	justify-content: space-between;
} 
footer .links .barid {
	width: 10%;
} 
footer .links .barid img {
	width: 70px;
} 
footer .links .rules {
	gap: 25px;
	width: 70%;
} 
footer .links .rules a {
	font-size: 13px;
} 
footer .links .rules a:hover {
	text-decoration: underline;
} 
footer .links .contact {
	width: 20%;
	direction: ltr;
} 
@media (max-width: 783px) {
	footer .links .barid,
	footer .links .rules,
	footer .links .contact {
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
}
footer .copyright {
	text-align: center;
	padding: 10px 0 30px;
	border-top: 2px solid #fff;
	font-size: 18px;
	color: #fff;
	position: relative;
}
footer .copyright span {
	font-weight: bold;
	text-transform: uppercase;
}