.reserve {
    padding: 75px 0 30px 0;
}
.reserve .all.center {
    justify-content: center;
    gap: 20px;
}
.reserve .all h1 {
    height: 51vh;
}
.reserve .center form{
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}
.reserve .main-btn.outline {
    color: var(--sec-color);
}
.reserve .main-btn.outline:hover {
    color: #fff;
}
@media (max-width: 767px) {
    .reserve .center {
        gap: 20px;
    }
    .reserve .center form ,
    .reserve .center .remark {
        width: 95%;
        margin: auto;
    }
}