.page {
    padding-top: 70px;
}
.page .profile {
    padding: 20px 0;
    justify-content: space-between;
}
.page .profile .profile-image {
    border: 2px solid var(--sec-color);
    width: 40%;
}
.page .profile .profile-image .camera{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 36px;
    padding: 6px 10px;
    background-color: var(--sec-color);
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
.page .profile .profile-image .camera.confirm {
    font-size: 24px;
    width: 80%;
}
.page .profile .profile-image .camera.cancel {
    font-size: 24px;
    width: 15%;
    left: 0;
    right: initial;
    border-radius: 0;
    border-bottom-right-radius: 10px;
}
.page .profile .profile-image img {
    width: 100%;
    height: 100%;
}
.page .profile .profile-info {
    width: 40%;
}
@media (max-width: 991px) {
    .page .profile .profile-info ,
    .page .profile .profile-image {
        width: 97%;
        margin: auto;
    }
    .page .profile .profile-info {
        order: 2;
        margin-top: 20px;
    }
}
.page .profile .profile-info .user-info{
    justify-content: space-between;
    margin-bottom: 20px;
}
.page .profile .profile-info .user-info input {
    width: 80%;
}
.page .profile .profile-info .user-info svg {
    color: var(--sec-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}