#title {
    text-align: center;
    margin-bottom: 40px;
}
#title h1 {
    font-weight: bold;
    font-size: 48px;
    color: var(--main-color);
}
#title p {
    margin-top: -10px;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 600;
}

@media (max-width: 767px) {
    #title {
        margin: 0 10px 40px;
    }
    #title h1 {
        font-size: 40px;
    }
    #title p {
        font-size: 14px;
    }
}