.payment form {
    width: 50%;
    margin: auto;
}
@media (max-width: 767px) {
    .payment form {
        width: 95%;
    }
}
.payment form h3 {
    text-align: center;
    font-weight: 600;
    color: var(--title-color);
}
.payment form .ccp-infos {
    margin: 20px 0;
}
.payment form .ccp-infos .ccp-info {
    justify-content: space-between;
    line-height: 2;
    margin-bottom: 10px;
}
.payment form .ccp-infos .ccp-info .title {
    font-weight: 700;
}
.payment form .ccp-infos .ccp-info .value {
    padding: 4px;
    background-color: var(--sec-color);
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
}
.payment form .offers {
    margin: 20px 0;
}
.payment form .checkbox-group .checkbox-div,
.payment form .offers .offer {
    flex-wrap: nowrap;
    justify-content: space-between;
}
.payment form .checkbox-group .checkbox-div input,
.payment form .offers .offer input {
    width: 40px;
}
.payment form .checkbox-group .checkbox-div label,
.payment form .offers .offer label {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    width: 100%;
}
.payment form .checkbox-group {
    height: fit-content;
    user-select: none;
    margin: 20px 0;
}
.payment form .calcMoney {
    margin: 20px 0;
    gap: 20px;
    padding: 10px;
}
.payment form .calcMoney span {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
}
.payment form .calcMoney p {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    color: #199719;
}
.remark li {
    list-style-type: disc;
    margin-right: 25px;
}

/* Payments */
.page .payments,
.page form {
    width: 50%;
    margin: auto;
}
@media (max-width:767px) {
    .page .payments,
    .page form {
        width: 95%;
    }
}
.page .payments .payment-card {
    width: 100%;
    justify-content: space-between;
    align-items: initial;
}
.page .payments .payment-card img {
    width: 35%;
    cursor: pointer;
}
.page .payments .payment-card .payment-infos {
    padding: 10px;
    width: 65%;
}
.page .payments .payment-card .payment-infos span {
    font-weight: bold;
    color: var(--sec-color);
}
.cause-popup,
.full-image {
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
}
.full-image img {
    width: 90%;
    height: 90%;
    margin: auto;
}
@media (max-width:991px) {
    .full-image img {
        width: 95%;
        height: initial;
    }
}
.full-image .close {
    position: absolute;
    z-index: 202;
    color: #fff;
    background-color: red;
    padding: 0 10px;
    font-size: 24px;
    font-weight: bold;
    top: 4%;
    right: 4%;
    cursor: pointer;
}
.cause-popup form {
    background: #fff;
    padding: 20px;
    border-radius: 18px;
}

.change-cards {
    align-items: initial;
    margin-top: 20px;
}
.change-cards .outline {
    color: var(--sec-color);
}
.change-cards .outline:hover {
    color: #fff;
}